In [13]:
import pandas as pd
import numpy as np

#### Pandas allows chaining together functions that expect Series, DataFrames or GroupBy objects

#### create dataframe by reading the data set

In [84]:
df = pd.read_csv("titanic.csv", sep="\t", index_col='PassengerId')
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

#### starts the index from 0

In [17]:
def transform_index(df):
    df.index = np.arange(df.shape[0])
    return df

#### we noticed few NaNs in "Cabin" column

In [37]:
df["Cabin"].isna().sum()

125

#### Actually we have lots of (=125) NaNs
#### We would like to replace NaN by looking at the "Sex" column, It is replaced by the cabin which was frequent for a particular sex in that row

In [69]:
def replace_nans_cabin(df):
    most_common = df.groupby('Sex')['Cabin'].apply(lambda x: x.value_counts().index[0]).reset_index()
    df.loc[(df['Cabin'].isnull()) & (df.Sex == 'female'), 'Cabin'] = most_common[most_common['Sex']=='female']['Cabin'][0]
    df.loc[(df['Cabin'].isnull()) & (df.Sex == 'male'), 'Cabin'] = most_common[most_common['Sex']=='male']['Cabin'][1]
    return df

#### We also replace NaNs in "Age" column by replacing it with the mean age of that particular sex

In [89]:
def replace_nans_age(df):
    df['Age'] = df["Age"].fillna(df.groupby("Sex")["Age"].transform('mean'))
    return df

#### Creates pipeline

In [90]:
(df.pipe(transform_index)
.pipe(replace_nans_cabin)
 .pipe(replace_nans_age)
)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,D26,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,F E69,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,D26,S
5,0,3,"Moran, Mr. James",male,30.326962,0,0,330877,8.4583,D26,Q
6,0,1,"McCarthy, Mr. Timothy J",male,54.000000,0,0,17463,51.8625,E46,S
7,0,3,"Palsson, Master. Gosta Leonard",male,2.000000,3,1,349909,21.0750,D26,S
8,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.000000,0,2,347742,11.1333,F E69,S
9,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.000000,1,0,237736,30.0708,F E69,C
10,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.000000,1,1,PP 9549,16.7000,G6,S
11,1,1,"Bonnell, Miss. Elizabeth",female,58.000000,0,0,113783,26.5500,C103,S
12,0,3,"Saundercock, Mr. William Henry",male,20.000000,0,0,A/5. 2151,8.0500,D26,S
13,0,3,"Andersson, Mr. Anders Johan",male,39.000000,1,5,347082,31.2750,D26,S
14,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.000000,0,0,350406,7.8542,F E69,S
15,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.000000,0,0,248706,16.0000,F E69,S
16,0,3,"Rice, Master. Eugene",male,2.000000,4,1,382652,29.1250,D26,Q
17,1,2,"Williams, Mr. Charles Eugene",male,30.326962,0,0,244373,13.0000,D26,S
18,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.000000,1,0,345763,18.0000,F E69,S
19,1,3,"Masselmani, Mrs. Fatima",female,24.468085,0,0,2649,7.2250,F E69,C
20,0,2,"Fynney, Mr. Joseph J",male,35.000000,0,0,239865,26.0000,D26,S
21,1,2,"Beesley, Mr. Lawrence",male,34.000000,0,0,248698,13.0000,D56,S
22,1,3,"McGowan, Miss. Anna ""Annie""",female,15.000000,0,0,330923,8.0292,F E69,Q
23,1,1,"Sloper, Mr. William Thompson",male,28.000000,0,0,113788,35.5000,A6,S
24,0,3,"Palsson, Miss. Torborg Danira",female,8.000000,3,1,349909,21.0750,F E69,S
25,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.000000,1,5,347077,31.3875,F E69,S
26,0,3,"Emir, Mr. Farred Chehab",male,30.326962,0,0,2631,7.2250,D26,C
27,0,1,"Fortune, Mr. Charles Alexander",male,19.000000,3,2,19950,263.0000,C23 C25 C27,S
28,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,24.468085,0,0,330959,7.8792,F E69,Q
29,0,3,"Todoroff, Mr. Lalio",male,30.326962,0,0,349216,7.8958,D26,S
...,...,...,...,...,...,...,...,...,...,...,...
126,0,3,"McMahon, Mr. Martin",male,30.326962,0,0,370372,7.7500,D26,Q
127,1,3,"Madsen, Mr. Fridtjof Arne",male,24.000000,0,0,C 17369,7.1417,D26,S
128,1,3,"Peter, Miss. Anna",female,24.468085,1,1,2668,22.3583,F E69,C
129,0,3,"Ekstrom, Mr. Johan",male,45.000000,0,0,347061,6.9750,D26,S
130,0,3,"Drazenoic, Mr. Jozef",male,33.000000,0,0,349241,7.8958,D26,C
131,0,3,"Coelho, Mr. Domingos Fernandeo",male,20.000000,0,0,SOTON/O.Q. 3101307,7.0500,D26,S
132,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.000000,1,0,A/5. 3337,14.5000,F E69,S
133,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.000000,1,0,228414,26.0000,F E69,S
134,0,2,"Sobey, Mr. Samuel James Hayden",male,25.000000,0,0,C.A. 29178,13.0000,D26,S
135,0,2,"Richard, Mr. Emile",male,23.000000,0,0,SC/PARIS 2133,15.0458,D26,C
136,1,1,"Newsom, Miss. Helen Monypeny",female,19.000000,0,2,11752,26.2833,D47,S
137,0,1,"Futrelle, Mr. Jacques Heath",male,37.000000,1,0,113803,53.1000,C123,S
138,0,3,"Osen, Mr. Olaf Elon",male,16.000000,0,0,7534,9.2167,D26,S
139,0,1,"Giglio, Mr. Victor",male,24.000000,0,0,PC 17593,79.2000,B86,C
140,0,3,"Boulos, Mrs. Joseph (Sultana)",female,24.468085,0,2,2678,15.2458,F E69,C
141,1,3,"Nysten, Miss. Anna Sofia",female,22.000000,0,0,347081,7.7500,F E69,S
142,1,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",female,24.000000,1,0,STON/O2. 3101279,15.8500,F E69,S
143,0,3,"Burke, Mr. Jeremiah",male,19.000000,0,0,365222,6.7500,D26,Q
144,0,2,"Andrew, Mr. Edgardo Samuel",male,18.000000,0,0,231945,11.5000,D26,S
145,0,2,"Nicholls, Mr. Joseph Charles",male,19.000000,1,1,C.A. 33112,36.7500,D26,S
146,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.000000,0,0,350043,7.7958,D26,S
147,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.000000,2,2,W./C. 6608,34.3750,F E69,S
148,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.500000,0,2,230080,26.0000,F2,S
149,0,2,"Byles, Rev. Thomas Roussel Davids",male,42.000000,0,0,244310,13.0000,D26,S
150,0,2,"Bateman, Rev. Robert James",male,51.000000,0,0,S.O.P. 1166,12.5250,D26,S
151,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.000000,1,0,113776,66.6000,C2,S
152,0,3,"Meo, Mr. Alfonzo",male,55.500000,0,0,A.5. 11206,8.0500,D26,S
153,0,3,"van Billiard, Mr. Austin Blyler",male,40.500000,0,2,A/5. 851,14.5000,D26,S
154,0,3,"Olsen, Mr. Ole Martin",male,30.326962,0,0,Fa 265302,7.3125,D26,S
155,0,1,"Williams, Mr. Charles Duane",male,51.000000,0,1,PC 17597,61.3792,D26,C